<mat-toolbar color="primary" class="navbar">

  <span class="navbar-brand">E-Commerce</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/order" routerLinkActive="active" class="text-blue">Track Order</button>
  <button mat-button routerLink="/signup" rouuterLinkActive="active" class="text-blue">Register</button>
  <button mat-button routerLink="/login" routerLinkActive="active" class="text-blue">Login</button>
  <button mat-button routerLink="/logout" routerLinkActive="active" class="text-blue">Logout</button>

</mat-toolbar>
<router-outlet></router-outlet>
